/* Default font-size */
$font-size: 16px;

/* Color Variation */
$accent-color: #266150;
$primary-color: #123c69;
$info-color: #2d8bf0;
$success-color: #8ecf81;
$secondary-color: #b9aaa1;
$light-color: #f6ceb7;
$white-color: #fdf8f5;
$grey-color: #36302e;
$dark-color: #47333b;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
