<% if(currents[1] !== 'main') { %>
<ul class="nav nav-tabs sub-navi wrapper">
  <% for (let v of init[currents[1]]) { %>
  <li class="nav-item">
    <a class="nav-link 
    <%=(second === v.path ? 'active' : '') %>"
      href="<%=`${v.path}`%>">
      <%=v.name%>
    </a>
  </li>
  <% } %>
</ul>
<% } %>
